*{
  box-sizing: border-box;
}

body{
  color: #333;
}

img{
  max-width:50%;
}

main{
  padding: 10px;
  max-width: 700px;
  margin: 0 auto;
}

header{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 15px;
  align-items: center;
}

header a {
  text-decoration:none;
  color: inherit;
}

header a.logo{
  font-weight: bold;
  font-size: 1.5rem;
}

header nav{
  display: flex;
  gap: 15px;
}

div.post{
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px){
  div.post{
    grid-template-columns: 0.9fr 1.1fr;
  }

  img{
    max-width:100%;
  }
  
}

div.post div.image{
  width: 100%;
}

div.post div.texts h2{
  margin:0;
  text-decoration: none;
  font-size:1.8rem;
}

div.post div.texts a{
  text-decoration: none;
  color: inherit;
}

div.post p.info{
  margin: 6px 0;
  color: #888;
  font-size: 7 rem;
  font-weight: bold;
  display: flex;
  gap:10px;
}

div.post p.info a.author{
  color:#333;
}

div.post p.summary{
  margin:10px 0;
  line-height: 1.4rem;
}

form.login, form.register{
  max-width:400px;
  margin: 0 auto;
}

input{
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px;
  border: 1 px solid #eee;
  border-radius: 5px;
  background-color: #fff;
}

button{
  width: 100%;
  display: block;
  background-color: #555;
  border:0;
  color: #fff;
  border-radius: 5px;
  padding: 7px 0;

}

form.login h1, form.register h1{
  text-align: center;
}

div.post-page div.image {
  max-height: 300px;
  display: flex;
  overflow: hidden;
  align-items: center;  /* Centers the image vertically */
  justify-content: center;  /* Centers the image horizontally */
}

/* Image specific styles */
div.post-page div.image img {
  max-height: 100%;  /* Ensures the image does not exceed the container's height */
  object-fit: contain;  /* Maintains the aspect ratio and fits the image within the container */
  width: auto;  /* Maintains the image width based on its aspect ratio */
}

div.post-page a {
  color :#333;
  text-decoration: underline;
}

div.post-page h1 {
  text-align: center;
  margin: 10px 0 5px;
}

div.post-page time{
  text-align: center;
  display: block;
  font-size: 0.8rem;
  color: #747474;
}

div.post-page div.author{
  text-align: center;
  margin-bottom: 20px;
  font-size: 0.8rem;
  font-weight: bold;
}

div.post-page div.content{
  line-height: 1.6rem;
}